@model IEnumerable<G_DAL.Entity.Task>

<div class="table-block-task">
    <table class="table">
        <caption>Мои задачи</caption>
        <thead>
            <tr><th class="id-item"">Id</th><th>Название</th><th>Описание</th><th>Назначил</th><th>Срок выполнения</th></tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr class="task-row">
                    <td class="id-item">@i.Id</td>
                    <td>@i.Name</td>
                    <td>@i.Description</td>
                    <td>@i.CreatorMail</td>
                    <td>@i.End</td>
                </tr>
            }
        </tbody>
    </table>
</div>